@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    --purple: #8b66d5;
    --lightpurple: #ddd8e8;
    --appbg:rgb(211, 211, 211,0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Poppins', sans-serif;
    background-color: var(--appbg);
}

.pointer {
    cursor: pointer;
}